<template>
<div>
    <ul class="index-buttons">
        <li><a v-on:click="new_game">新游戏</a></li>
    </ul>
</div>
</template>

<script>
module.exports = {
    methods: {
        new_game: function (event) {
            $.ajax({
                url: "/table/new",
                success: function(data) {
                    router.go('/table/' + data.table_id)
                }
            });
        }
    }
}
</script>