<template>
<div>
    <div id="pixi"></div>
</div>
</template>

<script>
var DouDiZhu = require('./DouDiZhu.js');
var Pixi = require('./DouDiZhuPixi.js');

module.exports = {
    ready: function() {
        this.ddz = new DouDiZhu(this.$route.params.table_id);
        this.pixi = new Pixi(document.getElementById("pixi"), this.ddz);
        this.ddz.setServerEventHandler(this.pixi.serverEventHandler.bind(this.pixi));
    },
    
    beforeDestroy: function() {
        this.ddz.socket.disconnect();
        delete this.pixi;
        delete this.ddz;
    }
}
</script>