<style>
.navbar-avatar {
  width: 50px;
}
.navbar-title {
}
footer {
  background-color: #e7e7e7;
}
</style>

<template>
<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-right" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img class="navbar-avatar" v-bind:src="avatar_url" />
        <span class="navbar-title">Brand</span>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-right">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
          <li><a v-link="'/index'">Link</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  
  <router-view></router-view>
  
  <footer class="footer">
    <p class="pull-right"> A jejer project </p>
  </footer>
</div>
</template>

<script>
export default {
  data () {
    return {
        avatar_url: "http://image005.flaticon.com/1/svg/66/66938.svg",
    }
  },
  
  ready: function() {
    this.fetchUserInfo();
  },
  
  methods: {
    fetchUserInfo: function() {
    //   var self = this;
    //   $.ajax({
    //     url: "https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20weather.forecast%20where%20woeid%20in%20(select%20woeid%20from%20geo.places(1)%20where%20text%3D%22nome%2C%20ak%22)&format=json&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys",
    //     success: function(data) {
    //       console.log(data);
    //       self.avatar_url = data.query.lang;
    //     }
    //   });
    }
  },
}
</script>